PORT=8000
SQLITE_DB_NAME=sift

#goose migrations 
GOOSE_DRIVER=sqlite3
GOOSE_DBSTRING=./db/sqlite/sift.db
GOOSE_MIGRATION_DIR=./db/sqlite/migrations
GOOSE_TABLE=goose_migrations

#development or production
APP_ENV=development

#number of pages to crawl
CRAWL_COUNT=10000

#number of workers concurrently fetching pages - optimal number is 192-256
SPIDER_COUNT=256

#maximum number of urls that a host is allowed to have (helps with saturation)
MAX_URLS_PER_HOST=300

#limits the number of hosts being tracked for free memory
MAX_HOST_QUEUES=100000

#maximum number of urls that the crawl engine can hodl
MAX_PENDING_URLS=200000

#the amount of time between job dispatches
JOB_DISPATCH_DELAY=100

SHOW_CRAWL_STATS=true
SHOW_INDEXING_STATS=true

