PORT=8000

GOOSE_DRIVER=sqlite3
GOOSE_DBSTRING=./db/sqlite/sift_500k.db
GOOSE_MIGRATION_DIR=./db/sqlite/migrations
GOOSE_TABLE=goose_migrations

SQLITE_DB_NAME=sift_500k
APP_ENV=production

CRAWL_COUNT=500000
SPIDER_COUNT=256
MAX_URLS_PER_HOST=300
MAX_HOST_QUEUES=100000
MAX_PENDING_URLS=200000
JOB_DISPATCH_DELAY=100

SHOW_CRAWL_STATS=true
SHOW_INDEXING_STATS=true

